 .u-section-1 {
  background-image: url("images/iStock-1495890489.jpg"), url("images/4cef97e79a4cf5c340d6dbc900bc135888e7278bf28b0014c8594efd4e32ab5327082096dc8b0fc1d5a13f2c2e5430557a022ec97d8e44ef4c9be3_1280.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1050px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }
}

.u-block-b681-89,
.u-block-b681-89:before,
.u-block-b681-89 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-b681-89.u-block-b681-89.u-block-b681-89:hover {
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-b681-89 {
  border-color: transparent !important;
}

.u-block-b681-89.u-block-b681-89.u-block-b681-89.hover {
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-b681-89 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 60px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 60px 344px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -7px;
    margin-bottom: -7px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 472px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 244px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 74.32% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -19px;
    margin-bottom: -19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 134px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -91px;
    margin-bottom: -91px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -130px;
    margin-bottom: -130px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 342px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 728px;
}

.u-section-3 .u-line-1 {
  width: 200px;
  transform-origin: left center;
  border-style: solid;
  margin: 17px 989px 0 -49px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 17px 117px 0 -49px;
}

.u-section-3 .u-form-1 {
  margin-bottom: 60px;
  height: 494px;
  margin-top: 26px;
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 2px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-right: 789px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    margin-right: 569px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    margin-right: 389px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    margin-top: 105px;
    margin-right: 189px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-form-1 {
    margin-bottom: -12px;
    margin-top: -40px;
  }
} .u-section-4 {
  background-image: linear-gradient(to bottom, rgba(41, 45, 51, 1), rgba(41, 45, 51, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 421px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1236px;
  margin: 0 -48px;
}

.u-section-4 .u-layout-cell-1 {
  background-position: 50% 50%;
  min-height: 421px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/98ee86dcab81f3a6f71463f9feea9695c4ac980ddbe4ba4c2e4bb931490bc44608ae92f0e504b29a7f1af8a514018ad40dd05dfc63b6e9d6923c09_1280.jpg');
  background-size: cover, cover;
  transition-duration: 0.6s;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 195px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 0px 2px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  width: 280px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 26px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 421px;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/f1b1b8ca6a4ab5eb0e17bf1f5949ad1d0ffcb9500b3f2321385a1eb175e7c26602a3386c6f679a58d47591f190a9b09a51c089984ab8c5c0c89749_1280.jpg");
  background-size: cover, cover;
  transition-duration: 0.6s;
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 195px 7px 0 -7px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  text-shadow: 0px 2px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 26px 57px 0 43px;
}

.u-section-4 .u-layout-cell-3 {
  background-size: cover;
  min-height: 421px;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/507a1b12d1f479b521d07a1a12d473846a43f92fd4e2d81fcece9b1153038fabeb984374e023eda3a64bfe60bb5f32ea035f6c27d9f8d4ae7c7633_1280.jpg');
  background-size: cover, cover;
  transition-duration: 0.6s;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 195px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  text-shadow: 0px 2px 10px rgba(0,0,0,1);
  transition-duration: 0.8s;
  width: 295px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 65px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-4 .u-text-2 {
    width: 211px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: 188px;
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-cell-3 {
    transition-duration: 0.5s;
    min-height: 320px;
  }

  .u-section-4 .u-text-6 {
    width: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 100px;
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-4 .u-text-4 {
    width: 144px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-4 .u-text-6 {
    width: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 551px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 331px;
  }

  .u-section-4 .u-text-2 {
    width: 254px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 331px;
  }

  .u-section-4 .u-text-4 {
    width: 254px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 333px;
  }

  .u-section-4 .u-text-6 {
    width: 254px;
    margin-top: 16px;
  }
}

.u-section-4 .u-text-5,
.u-section-4 .u-text-5:before,
.u-section-4 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-5 {
  transform: scale(1.05) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-5 {
  transform: scale(1.05) !important;
}

.u-section-4 .u-text-6,
.u-section-4 .u-text-6:before,
.u-section-4 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-6 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-6 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-3 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-3 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-4,
.u-section-4 .u-text-4:before,
.u-section-4 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-4 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-4 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before,
.u-section-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-1 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-1 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 :hover > .u-container-layout .u-text-2 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-4 .hover > .u-container-layout .u-text-2 {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}