 .u-section-1 {
  background-image: url("/images/UpperLevelDeck.png");
  background-position: 50% 16.13%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1150px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 866px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }
}

.u-block-62a6-89,
.u-block-62a6-89:before,
.u-block-62a6-89 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-62a6-89.u-block-62a6-89.u-block-62a6-89:hover {
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-62a6-89 {
  border-color: transparent !important;
}

.u-block-62a6-89.u-block-62a6-89.u-block-62a6-89.hover {
  border-radius: 10px !important;
  transform: scale(1) translateY(px) !important;
}

.u-block-62a6-89 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 111px;
}

.u-section-2 .u-line-1 {
  width: 200px;
  transform-origin: left center;
  border-style: solid;
  margin: 36px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 242px 16px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-text-1 {
    margin-right: 269px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 467px;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 35px 72px 0;
}

.u-section-3 .u-shape-1 {
  --radius: 50px;
  height: 240px;
  width: 1238px;
  margin: 31px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1238px;
  margin: -224px auto 39px;
}

.u-section-3 .u-repeater-1 {
  --gap: 0px;
  grid-auto-columns: 50%;
  grid-template-columns: repeat(2, 50%);
  min-height: 231px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0 24px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0 24px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0 24px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0 24px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0 24px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-shape-1 {
    width: 1140px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 179px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 20px;
    width: 940px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -474px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-left: 5px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 231px;
    margin-top: -240px;
    margin-bottom: 29px;
    margin-left: -5px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 73px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: -526px;
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 383px;
    margin-top: 18px;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 322px;
    margin-top: -383px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 370px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 471px;
}

.u-section-4 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 24px 1500px 0 0;
}

.u-section-4 .u-text-1 {
  line-height: 1.15;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 612px 0 0;
}

.u-section-4 .u-list-1 {
  width: 1340px;
  margin: 31px auto 37px;
}

.u-section-4 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 322px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-group-1 {
  --radius: 30px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 4px;
}

.u-section-4 .u-icon-1 {
  width: 190px;
  height: 190px;
  margin: 19px auto 0;
  padding: 16px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-group-2 {
  --radius: 30px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 4px;
}

.u-section-4 .u-icon-2 {
  width: 190px;
  height: 190px;
  color: rgb(255, 255, 255) !important;
  margin: 19px auto 0;
  padding: 16px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-group-3 {
  --radius: 30px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 4px;
}

.u-section-4 .u-icon-3 {
  width: 190px;
  height: 190px;
  margin: 19px auto 0;
  padding: 16px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-group-4 {
  --radius: 30px;
  min-height: 300px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 4px;
}

.u-section-4 .u-icon-4 {
  width: 190px;
  height: 190px;
  margin: 19px auto 0;
  padding: 16px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-line-1 {
    margin-right: 1040px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 639px;
  }

  .u-section-4 .u-list-1 {
    width: 1140px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 306px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-top: 520px;
    margin-right: 840px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 439px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 239px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-line-1 {
    margin-top: 24px;
    margin-right: 620px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 219px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 0;
    margin-bottom: 10px;
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    margin-top: 864px;
    margin-right: 440px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-line-1 {
    margin-top: 10px;
    margin-right: 240px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 7px;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1461px;
}

.u-section-5 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 21px 1500px 0 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.15;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 567px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1240px;
  margin: 18px auto 37px;
}

.u-section-5 .u-image-1 {
  min-height: 320px;
  background-image: url("/images/poly-opal.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 320px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  --radius: 50px;
  height: auto;
  min-height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 326px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-group-2 {
  --radius: 50px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 290px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-5 .u-image-2 {
  min-height: 326px;
  background-image: url("/images/VSG-opal.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  min-height: 326px;
  background-image: url("/images/poly-klar.jpg");
  background-position: 50% 50%;
  --radius: 50px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 326px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-group-3 {
  --radius: 50px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 290px;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 320px;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-group-4 {
  --radius: 50px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 284px;
}

.u-section-5 .u-container-layout-11 {
  padding: 23px 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 7px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 21px auto -7px;
}

.u-section-5 .u-image-4 {
  min-height: 320px;
  background-image: url("/images/vsg-klar.jpg");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-line-1 {
    margin-right: 1074px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 594px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 1140px;
  }

  .u-section-5 .u-image-1 {
    min-height: 294px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 300px;
  }

  .u-section-5 .u-image-3 {
    min-height: 300px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 300px;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 294px;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-4 {
    min-height: 294px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1255px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 41px;
    margin-right: 840px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 394px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 242px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -62px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 247px;
  }

  .u-section-5 .u-group-2 {
    --radius: 10px;
  }

  .u-section-5 .u-text-4 {
    font-weight: 400;
  }

  .u-section-5 .u-image-2 {
    min-height: 247px;
  }

  .u-section-5 .u-image-3 {
    min-height: 247px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 247px;
  }

  .u-section-5 .u-group-3 {
    --radius: 10px;
  }

  .u-section-5 .u-text-6 {
    font-weight: 400;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 242px;
  }

  .u-section-5 .u-group-4 {
    --radius: 10px;
  }

  .u-section-5 .u-text-8 {
    font-weight: 400;
  }

  .u-section-5 .u-image-4 {
    min-height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 40px;
    margin-right: 620px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 174px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: -8px;
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 185px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    min-height: 294px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-group-2 {
    --radius: 50px;
    min-height: 294px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    font-weight: 600;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-image-2 {
    min-height: 189px;
  }

  .u-section-5 .u-image-3 {
    min-height: 189px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-group-3 {
    --radius: 50px;
    min-height: 294px;
  }

  .u-section-5 .u-text-6 {
    font-weight: 600;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-group-4 {
    --radius: 50px;
    min-height: 294px;
  }

  .u-section-5 .u-text-8 {
    font-weight: 600;
    margin-top: 0;
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 0;
  }

  .u-section-5 .u-image-4 {
    min-height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3486px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 932px;
    margin-right: 440px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 297px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 304px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 304px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 297px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2496px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 14px;
    margin-right: 240px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 4px;
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 290px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-5 .u-image-2 {
    min-height: 290px;
    order: 0;
  }

  .u-section-5 .u-image-3 {
    min-height: 290px;
  }

  .u-section-5 .u-layout-cell-7 {
    order: 1;
  }

  .u-section-5 .u-image-4 {
    min-height: 290px;
    order: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 501px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 21px auto 0 0;
}

.u-section-6 .u-text-1 {
  line-height: 1.15;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 943px 0 0;
}

.u-section-6 .u-list-1 {
  width: 1296px;
  margin: 32px auto 51px;
}

.u-section-6 .u-repeater-1 {
  --gap: 35px;
  grid-auto-columns: calc(33.3333% - 23.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 23.3333px));
  min-height: 340px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-shape-1 {
  --radius: 10px;
  height: 339px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  --radius: 50px;
  height: auto;
  width: 375px;
  min-height: 230px;
  background-repeat: no-repeat;
  transition-duration: 0.6s;
  background-image: linear-gradient(rgb(240, 239, 233), rgb(240, 239, 233));
  background-position: 50% 50%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
  margin: -318px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 21px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 21px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-shape-2 {
  --radius: 10px;
  height: 339px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-group-2 {
  height: auto;
  width: 375px;
  min-height: 230px;
  transition-duration: 0.6s;
  --radius: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(135, 133, 129), rgb(135, 133, 129));
  background-position: 50% 50%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
  margin: -318px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 21px 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 0 21px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0;
}

.u-section-6 .u-shape-3 {
  --radius: 10px;
  height: 339px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-6 .u-group-3 {
  --radius: 50px;
  height: auto;
  width: 375px;
  min-height: 230px;
  background-repeat: no-repeat;
  transition-duration: 0.6s;
  background-image: linear-gradient(rgb(53, 60, 64), rgb(53, 60, 64));
  background-position: 50% 50%;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-size: cover;
  margin: -318px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 21px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 21px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    margin-right: 970px;
  }

  .u-section-6 .u-list-1 {
    width: 1140px;
  }

  .u-section-6 .u-group-1 {
    width: 319px;
    height: auto;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 319px;
    height: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    width: 319px;
    height: auto;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 5px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 770px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 23.333299999999998px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
    min-height: 280px;
  }

  .u-section-6 .u-group-1 {
    --radius: 10px;
    --color-var: #f0efe9;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    --color-var: #ffdb00;
    background-color: rgb(103, 103, 103) !important;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    --color-var: #353c40;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 550px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17.499975px);
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
    min-height: 643px;
  }

  .u-section-6 .u-group-1 {
    --radius: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-group-1 {
    width: 302px;
  }

  .u-section-6 .u-group-2 {
    width: 302px;
  }

  .u-section-6 .u-group-3 {
    width: 302px;
  }
}

.u-section-6 .u-group-3,
.u-section-6 .u-group-3:before,
.u-section-6 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-group-3.u-group-3.u-group-3:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-group-3.u-group-3.u-group-3.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-group-1,
.u-section-6 .u-group-1:before,
.u-section-6 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-group-2,
.u-section-6 .u-group-2:before,
.u-section-6 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-group-2.u-group-2.u-group-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-group-2.u-group-2.u-group-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 869px;
}

.u-section-7 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 20px 1500px 0 0;
}

.u-section-7 .u-text-1 {
  line-height: 1.15;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 612px 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1296px;
  margin: 20px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-image-1 {
  height: 341px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 50px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 351px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-group-1 {
  --radius: 30px;
  min-height: 291px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 222px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-group-2 {
  --radius: 30px;
  min-height: 159px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 530px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-group-3 {
  --radius: 30px;
  min-height: 463px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-7 .u-container-layout-7 {
  padding: 17px 30px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-7 .u-line-1 {
    margin-right: 1040px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 639px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 1140px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-7 .u-image-1 {
    height: 296px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 195px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 466px;
  }

  .u-section-7 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 520px;
    margin-right: 840px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 439px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 107px;
    margin-bottom: -500px;
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    background-size: cover;
    min-height: 291px;
  }

  .u-section-7 .u-image-1 {
    height: 238px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 384px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 15px;
    margin-right: 620px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 219px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 20px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-7 .u-image-1 {
    height: 383px;
    margin-top: 33px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-group-1 {
    min-height: 239px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-group-2 {
    min-height: 127px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-7 .u-group-3 {
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2386px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 864px;
    margin-right: 440px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 302px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 14px;
    margin-right: 240px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-7 .u-image-1 {
    height: 186px;
  }

  .u-section-7 .u-group-1 {
    min-height: 440px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-7 .u-group-2 {
    min-height: 230px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-7 .u-group-3 {
    min-height: 646px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 3375px;
}

.u-section-8 .u-line-1 {
  width: 100px;
  transform-origin: left center;
  border-style: solid;
  margin: 19px 1500px 0 0;
}

.u-section-8 .u-text-1 {
  line-height: 1.15;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 19px 612px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1212px;
  margin: 21px auto 0;
}

.u-section-8 .u-image-1 {
  --radius: 50px;
  min-height: 307px;
  background-position: 50% 50%;
  background-image: url("/images/WoodenWall700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  --radius: 50px;
  min-height: 307px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 35px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-layout-cell-3 {
  --radius: 50px;
  min-height: 377px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-2 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 34px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-image-2 {
  --radius: 50px;
  min-height: 377px;
  background-position: 50% 50%;
  background-image: url("/images/AluminiumWall700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  --radius: 50px;
  min-height: 377px;
  background-position: 50% 50%;
  background-image: url("/images/LED700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-6 {
  --radius: 50px;
  min-height: 401px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-8 .u-btn-3 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 34px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-layout-cell-7 {
  --radius: 50px;
  min-height: 408px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px;
}

.u-section-8 .u-text-8 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-9 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-4 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 37px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-image-4 {
  --radius: 50px;
  min-height: 307px;
  background-position: 50% 50%;
  background-image: url("/images/PVCwall700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px;
}

.u-section-8 .u-image-5 {
  min-height: 377px;
  background-image: url("/images/RetractableScreen700.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-9 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-10 {
  min-height: 377px;
}

.u-section-8 .u-container-layout-10 {
  padding: 0;
}

.u-section-8 .u-group-1 {
  --radius: 30px;
  min-height: 343px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-11 {
  padding: 30px;
}

.u-section-8 .u-text-10 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-11 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px auto 0 0;
}

.u-section-8 .u-btn-5 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 37px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-layout-cell-11 {
  min-height: 379px;
}

.u-section-8 .u-container-layout-12 {
  padding: 0;
}

.u-section-8 .u-group-2 {
  --radius: 30px;
  min-height: 343px;
  margin-top: -1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-8 .u-container-layout-13 {
  padding: 30px 29px;
}

.u-section-8 .u-text-12 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-13 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 21px 1px 0;
}

.u-section-8 .u-btn-6 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-image-6 {
  min-height: 377px;
  background-image: url("/images/FixedGlassWall700.png");
  --radius: 50px;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-14 {
  padding: 30px;
}

.u-section-8 .u-layout-wrap-2 {
  width: 1212px;
  margin: -36px auto 36px;
}

.u-section-8 .u-image-7 {
  --radius: 50px;
  min-height: 378px;
  background-position: 50% 57.98%;
  background-image: url("/images/SlidingGlassDoors700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-15 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-14 {
  --radius: 50px;
  min-height: 378px;
}

.u-section-8 .u-container-layout-16 {
  padding: 30px;
}

.u-section-8 .u-text-14 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-8 .u-text-15 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-8 .u-btn-7 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 35px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-layout-cell-15 {
  --radius: 50px;
  min-height: 378px;
}

.u-section-8 .u-container-layout-17 {
  padding: 30px;
}

.u-section-8 .u-text-16 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 4px auto 0;
}

.u-section-8 .u-text-17 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 0 0;
}

.u-section-8 .u-btn-8 {
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  --radius: 2px;
  text-transform: none;
  font-size: 0.875rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: 21px auto 0;
  padding: 10px 18px 12px 17px;
}

.u-section-8 .u-image-8 {
  --radius: 50px;
  min-height: 378px;
  background-position: 50% 50%;
  background-image: url("/images/RoofShelter700.png");
  background-size: cover;
}

.u-section-8 .u-container-layout-18 {
  padding: 30px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3239px;
  }

  .u-section-8 .u-line-1 {
    margin-right: 1040px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 639px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 1140px;
  }

  .u-section-8 .u-image-1 {
    min-height: 289px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 355px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    min-height: 355px;
  }

  .u-section-8 .u-image-3 {
    min-height: 355px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 377px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 384px;
  }

  .u-section-8 .u-text-8 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-4 {
    min-height: 289px;
  }

  .u-section-8 .u-image-5 {
    min-height: 355px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 355px;
  }

  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-text-10 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 356px;
  }

  .u-section-8 .u-group-2 {
    height: auto;
  }

  .u-section-8 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-6 {
    min-height: 355px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 1140px;
  }

  .u-section-8 .u-image-7 {
    min-height: 356px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 356px;
  }

  .u-section-8 .u-text-14 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 356px;
  }

  .u-section-8 .u-text-16 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-8 {
    min-height: 356px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2711px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 520px;
    margin-right: 840px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 439px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-image-1 {
    min-height: 238px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 293px;
  }

  .u-section-8 .u-image-2 {
    min-height: 293px;
  }

  .u-section-8 .u-image-3 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 311px;
  }

  .u-section-8 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 317px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-image-4 {
    min-height: 238px;
  }

  .u-section-8 .u-image-5 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 294px;
  }

  .u-section-8 .u-image-6 {
    min-height: 293px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-8 .u-image-7 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 294px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 294px;
  }

  .u-section-8 .u-image-8 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4834px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 21px;
    margin-right: 620px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 219px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 795px;
    margin-top: 0;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-8 .u-image-1 {
    min-height: 565px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 532px;
  }

  .u-section-8 .u-image-2 {
    min-height: 532px;
  }

  .u-section-8 .u-image-3 {
    min-height: 660px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 660px;
  }

  .u-section-8 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 616px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-8 .u-image-4 {
    min-height: 581px;
  }

  .u-section-8 .u-image-5 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 536px;
  }

  .u-section-8 .u-image-6 {
    min-height: 536px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 795px;
    margin-left: -37px;
    margin-right: -37px;
    margin-bottom: 0;
  }

  .u-section-8 .u-image-7 {
    min-height: 607px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 607px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 535px;
  }

  .u-section-8 .u-image-8 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3347px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 864px;
    margin-right: 440px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 39px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-5 {
    min-height: 695px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-6 {
    min-height: 642px;
  }

  .u-section-8 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-7 {
    min-height: 728px;
  }

  .u-section-8 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-8 {
    min-height: 641px;
  }

  .u-section-8 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 6292px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 16px;
    margin-right: 240px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 415px;
    margin-top: 8px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-8 .u-image-1 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 444px;
    order: 1;
  }

  .u-section-8 .u-image-2 {
    min-height: 300px;
    order: 0;
  }

  .u-section-8 .u-image-3 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 473px;
  }

  .u-section-8 .u-layout-cell-7 {
    min-height: 452px;
    order: 1;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-8 .u-image-4 {
    min-height: 300px;
    order: 0;
  }

  .u-section-8 .u-image-5 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-10 {
    min-height: 468px;
  }

  .u-section-8 .u-layout-cell-11 {
    min-height: 467px;
    order: 1;
  }

  .u-section-8 .u-image-6 {
    min-height: 300px;
    order: 0;
  }

  .u-section-8 .u-layout-wrap-2 {
    width: 415px;
    margin-left: -37px;
    margin-right: -37px;
  }

  .u-section-8 .u-image-7 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-14 {
    min-height: 466px;
  }

  .u-section-8 .u-layout-cell-15 {
    min-height: 418px;
    order: 1;
  }

  .u-section-8 .u-image-8 {
    min-height: 300px;
    order: 0;
  }
}

.u-section-8 .u-btn-2,
.u-section-8 .u-btn-2:before,
.u-section-8 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-1,
.u-section-8 .u-btn-1:before,
.u-section-8 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-3,
.u-section-8 .u-btn-3:before,
.u-section-8 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-4,
.u-section-8 .u-btn-4:before,
.u-section-8 .u-btn-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-4.u-btn-4.u-btn-4:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-4 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-4.u-btn-4.u-btn-4.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-5,
.u-section-8 .u-btn-5:before,
.u-section-8 .u-btn-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-5.u-btn-5.u-btn-5:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-5 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-5.u-btn-5.u-btn-5.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-6,
.u-section-8 .u-btn-6:before,
.u-section-8 .u-btn-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-6 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-6.u-btn-6.u-btn-6:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-6 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-6.u-btn-6.u-btn-6.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-7,
.u-section-8 .u-btn-7:before,
.u-section-8 .u-btn-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-7 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-7.u-btn-7.u-btn-7:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-7 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-7.u-btn-7.u-btn-7.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-8,
.u-section-8 .u-btn-8:before,
.u-section-8 .u-btn-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-8 .u-btn-8 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-8.u-btn-8.u-btn-8:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-8 .u-btn-8 {
  border-color: transparent !important;
}

.u-section-8 .u-btn-8.u-btn-8.u-btn-8.hover {
  transform: scale(1) translateY(px) !important;
}